.popup {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.popup-mask {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
}
.popup-container {
    position: absolute;
    top: 0;
    left: 0;
}