.tooltip {
    line-height: 1.4;
    color: #ffffff;

    padding: 6px 8px;
    max-width: 350px;

    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.tooltip-content {
    word-wrap: break-word;
    min-width: 35px;
}