.App {

}
.tooltip-container {
    
}
.tooltip-container-top {
    display: flex;
    justify-content: center;
}
.tooltip-container-top button {
  margin: 0 20px;
}

.tooltip-container-center {
  display: flex;
  justify-content: space-between;
}
.tooltip-container-center-left {
  display: flex;
  flex-direction: column;
}
.tooltip-container-center-left button {
  margin: 20px 0;
}